@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap");
.hc-100 {
    height: 100vh !important;
    font-weight: 500;
}
body,
html {
    margin: 0;
    padding: 0;
}
.dotted {
    padding: 3px;
    background-color: #23272b;
    border-radius: 50%;
}
.dotted.active {
    border: 5px solid #7f7f7f;
}
.dotted.inactive {
    border: 5px solid #ffffff;
}
* {
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
}
.animated {
    transition: top 3s ease-in-out, right 3s ease-in-out;
}
.btn {
    font-size: 0.9rem;
    padding: 3px 10px;
    border-radius: 15px;
}
a,
a:hover {
    color: inherit;
    text-decoration: none;
}
.cards__grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(140px, 1fr));
    gap: 8px;
}
.cards__image {
    height: 140px;
    border-radius: 8px;
}
.cards__overlay {
    cursor: pointer;
    transition: 0.5s opacity;
    opacity: 0;
    position: absolute;
    top: 0;
    height: 100%;
    background-color: #00000080;
    width: 100%;
    border-radius: 8px;
    left: 0;
    color: #ffffff;
    padding: 6px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    overflow-wrap: break-word;
}
.toggle-select::after {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background: red;
    border-radius: 8px;
    content: "";
}
